.tac-one-regular {
    font-family: "Tac One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(6, 240, 6);
}
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 170, 0);
    font-size:80px;
}
.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
.container
{
    background-color: aqua;
    /*width: 500px;*/
    height: 100px;
}
.row
{
    background-color: gold;
    margin: 5px;
}
.col
{
    background-color: plum;
    margin: 5px;
}
